<app-navbar></app-navbar>
<br>
<h3> Food Order  details</h3>
<div class="container">
  <div class="row">
      <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col xxl-12"></div>
  </div>
<div class="row">
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
<label for="" class="form-label">Name</label>
<input type="text" class="form-control">
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Email Id</label>
  <input type="text" class="form-control">
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Password</label>
  <input type="text" class="form-control">
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Address</label>
 <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Food name</label>
  <input type="text" class="form-control">
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Date of delivery</label>
  <input type="text" class="form-control">
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Payment</label>
  <select name="" id="" class="form-control">
      <option value="">Cash on delivery</option>
      <option value="">UPI ID</option>
      <option value="">Phone pe</option>
      <option value="">debit acrd</option>
      <option value="">credit card</option>
  </select>
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Phone number</label>
  <input type="text" class="form-control">
</div>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
  <label for="" class="form-label">Reviews</label>
  <input type="text" class="form-control">

</div>
<br>
<br>
<div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6"></div>
</div>
<button class="btn btn-success">Submit</button>
</div>



